span.with_overlay {
    cursor: pointer;
}

.tooltip-inner {
    text-align: left;
}

div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.highlighted {
    stroke: #202020;
    stroke-opacity: 50%;
    stroke-width: 10px;
}

.icon {
    height: 20px;
    width: 20px;
}

svg {
    max-height: 80vh;
}